:root {
  --displayColor: #000000;
  --numbersColor: #000000;
  --functionsColor: #000000;
  --textColor: #000000;
  --translucent: #00000033;
  --semi-transparent: #000000c5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--textColor);
  -webkit-tap-highlight-color: transparent;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  color: #ffffff80;
  display: block;
}

.page {
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  background-color: var(--displayColor);
}

.mode {
  width: calc(100% + 1px);
  height: 100%;
  left: 0px;
  border-radius: 25px 25px 0 0;
  position: absolute;
}

.pane{
  border-radius: 25px;
  background-color: var(--functionsColor);

}

.modeSelectButton {
  width: calc(100% - 20px);
  height: 200px;
  border-radius: 25px;
  border: none;
  margin-left: 10px;
  margin-top: 20px;

  background-color: var(--functionsColor);
}

.modeIcon {
  height: calc(100% - 50px);
  background-color: var(--numbersColor);
  border-radius: 500px;
  left: 0px;
}

/*********************************Injected css from mode***********************************/
#graphTab {
  background-color: var(--functionsColor);
}

.dynamicContent {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.dynamicModeContainer{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: 
  "graph" 
  "controls";
  grid-template-rows: 66.6666% 33.3333%;
  position: absolute;
}

#graphContain {
  width: calc(100% - 20px);
  margin-left: 10px;
  height: calc(100% - 20px);
  margin-top: 10px;
}

.dynamicModePane{
  width: calc(100% - 20px);
  margin-top: 10px;
  margin-left: 10px;
  bottom: calc(40% + 10px);
  border-radius: 25px;
  background-color: var(--functionsColor);
}

#fullGraph {
  margin-top: -50px;
  margin-left: calc(100% - 60px);
}

.dynamicModeControls {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 25px;
  background-color: var(--functionsColor);
}

#graphFuncGrid {
  
}
.dynamicFuncGrid{
  width: calc(100% - 20px);
  max-height: calc(100% - 60px);
  overflow: auto;
  margin-left: 10px;
  margin-top: 10px;
  display: grid;
  grid-auto-rows: 80px;
}
.dynamicEquation {
  width: 100%;
  height: calc(100% - 10px);
  border-radius: 15px;
  padding-left: 10px;
  border: none;
  font-size: 60px;
  background-color: var(--numbersColor);
}

.addDynamicEquation {
  width: 60px;
  height: 60px;
  margin-left: calc(50% - 30px);
  border-radius: 30px;
  border: none;
  background-color: var(--displayColor);
  font-size: 30px;
  font-weight: bold;
}

#settingsCogGraph {
  bottom: 0px;
}

/*end*/
#selectorMode {
  background-color: var(--displayColor);
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
  /*remove the resize handle on the bottom right*/
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

hr {
  height: 1px;
  background-color: var(--textColor);
  border: none;
}

#modeButton {
  z-index: 2;
  height: fit-content;
  position: absolute;
  border: none;
  background-color: var(--displayColor);
  font-size: 20;
  padding: 10px;
  border-radius: 50px;
  right: 20px;
  top: 20px;
}

#historyHeader sup {
  color: inherit;
}

#uifCalculator::-webkit-scrollbar {
  width: 2vh;

}

#uifCalculator::-webkit-scrollbar-track {
  background: transparent;
  margin-bottom: 40px;
}

#uifCalculator::-webkit-scrollbar-thumb {
  width: 5;
  min-height: 30px;
  background: var(--translucent);
  border-radius: 10px;
}

#uifCalculator::-webkit-scrollbar-button:end:increment {
  height: 7px;
  display: block;
  background: transparent;
}

#uifCalculator::-webkit-scrollbar-button:start:increment {
  height: 7px;
  display: block;
  background: transparent;
}

input:focus,
#EquationFunc:focus,
select:focus {
  outline: none;
}

[contenteditable] {
  outline: 0px solid transparent;
}

#tab {
  position: absolute;
  overflow: hidden;
  float: bottom;
  border: 0px;
  height: 35px;
  width: 100%;
  display: inline-flex;
  z-index: 2;
  background-color: var(--functionsColor);
}

#mobileTabs {
  visibility: hidden;
  z-index: 3;
  position: absolute;
  background-color: transparent;
  border: none;
  display: grid;
  place-items: center;
}

#mobileTabs h3 {
  margin: 0;
}

#tabNum {
  margin: 0px;
}

#tabContainer {
  position: absolute;
  left: 0;
  height: 40px;
  right: 40px;
}

.tablinks {
  position: relative;
  background-color: var(--functionsColor);
  color: var(--textColor);
  border: none;
  cursor: pointer;
  height: 90%;
  top: 10%;
  width: fit-content;
  padding: 0px 15px 0 15px;
  font-size: 17px;
  border-radius: 15px 15px 0 0;
  display: inline-flex;
  -webkit-tap-highlight-color: transparent;
}

button:focus,
input[type="button"]:focus {
  outline: none;
}

#tabContainer button h3 {
  font-size: 17px;
  font-weight: normal;
  margin-top: 6.5px;
}

.textOverlay {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  color: var(--textColor);
  border: none;
  font-size: 15px;
}

.matchCircle {
  position: absolute;
  top: 3.33335px;
  left: 3.33335px;
  height: 33.3333px;
  width: 33.3333px;
  background-color: var(--translucent);
  text-align: center;
  justify-content: center;
  border-radius: 50%;
}

.memText {
  color: var(--textColor);
  position: absolute;
  text-align: center;
  width: 33px;
  height: 14;
  top: 9.66665;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

#overlayContainer {
  width: calc(100% - 20px);
  height: fit-content;
  position: absolute;
  bottom: 10px;
  background-color: var(--displayColor);
  border-radius: 25px;
  padding: 5px;
  left: 10px;
}

#deleteHistory{
  top: 10px;
  left: 10px;
  z-index: 1;
  padding: 2.5px;
  border-radius: 50%;
  background-color: var(--displayColor);
  position: absolute;
}

#overlayDiv {
  height: 40px;
  width: 100%;
}

#MRCOverlay {
  height: 40px;
  width: 40px;
  left: 0px;
}

#MAddOverlay {
  height: 40px;
  width: 40px;
  left: 40px;
}

#memoryDiv {
  height: 40px;
  left: 80px;
  right: 80px;
  position: absolute;
}

#memoryTextBoarder {
  left: 0;
  top: 3.33335px;
  background-color: var(--translucent);
  max-width: 100%;
  width: auto;
  position: absolute;
  overflow-x: hidden;
  border-radius: 25px;
  visibility: hidden;
}

#memoryText {
  width: auto;
  max-width: inherit;
  color: var(--textColor);
  position: relative;
  height: 33.3333px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-weight: lighter;
  font-size: 30px;
}

#memoryText::-webkit-scrollbar-thumb {
  width: 2px;
  background: #00000080;
  border-radius: 10px;
}

#leftOverlayNav {
  position: absolute;
  z-index: 1;
  right: 40px;
}

#rightOverlayNav {
  position: absolute;
  z-index: 1;
  right: 0px;
}

#num1 {
  border-radius: 15px 0 0 0;
}

#num3 {
  border-radius: 0 15px 0 0;
}

#piButton {
  border-radius: 0 0 0 15px;
}

#pointButton {
  border-radius: 0 0 15px 0;
}

.specialElements {
  background-color: var(--functionsColor);
}

#tab button.active {
  background-color: var(--displayColor);
}

#mainBody {
  background-color: var(--functionsColor);
  min-height: 600px;
  min-width: 310px;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
}

#displayClip {
  position: absolute;
  width: 75%;
  height: calc(35% - 10px);
  top: 10px;
  overflow: hidden;
  width: calc(100% - 20px);
  left: 10px;
}

.text-area {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 70px;
  border: none;
  color: var(--textColor);
  background-color: transparent;
  position: absolute;
}

.text-area:focus {
  border: transparent;
}

.historyDateHeader {
  border-radius: 25px;
  width: fit-content;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--numbersColor);
  color: var(--textColor);
}

#historyHeader {
  margin-left: 5px;
  font-weight: lighter;
  font-size: 25px;
  color: var(--numbersColor);
  direction: ltr
}

#historyTimeSubHeader {
  padding-left: 10px;
  font-size: 20px;
  color: var(--textColor);
}

#previousEquation {
  padding-left: 10px;
  color: var(--numbersColor);
  font-size: 40px;
}

#enterHeader {
  width: 100%;
  font-weight: lighter;
  padding-left: 10px;
  font-size: 40px;
  text-indent: 5px;
  direction: ltr;
}

.mainCacGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 0px 0px;
  margin: 0px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 16.6666% 16.6666% 16.6666% 16.6666% 16.6666% 16.6666%;
  background-color: #00000000;
  grid-template-areas:
    "num1 num2 num3 moreFuncBut"
    "num4 num5 num6 backspace"
    "num7 num8 num9 plus"
    "pi num0 point minus"
    "percent pars pow mutiplication"
    "enter pow2 sqrt division";
}

#extendedKeypad{
  height: fit-content;
  width: fit-content;
  overflow: hidden;
  visibility: hidden;
}
#extendedFuncGrid {
  height: 100%;
  top: 33.3333%;
  width: relative;
  left: 400px;
  right: 0;
  max-width: 200px;
  display: grid;
  grid-gap: 0px 0px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 11.1111% 11.1111% 11.1111% 11.1111% 11.1111% 11.1111%;
  background-color: #00000000;
  z-index: 1;
  grid-template-areas:
    "help func"
    "vars ac"
    "mod abs"
    "sin deg"
    "cos arc"
    "tan inv"
    "d-f fact"
    "ln log"
    "log10 e";
}

.button-item {
  padding: 0px;
  height: 100%;
  width: 100%;
  font-size: 100%;
  background-color: var(--displayColor);
  text-align: center;
}

.function-item {
  padding: 0px;
  height: 100%;
  width: 100%;
  font-size: 30px;
  display: block;
  background-color: var(--displayColor);
  text-align: center;
}

.numsbutton {
  height: 100%;
  width: 100%;
  font-size: 20px;
  color: var(--textColor);
  background-color: var(--numbersColor);
  text-align: center;
  border-style: none;
}

.numsbutton:focus {
  outline: none;
  box-shadow: none;
}

.funcbutton {
  height: 100%;
  width: 100%;
  font-size: 20px;
  color: var(--textColor);
  background-color: var(--functionsColor);
  text-align: center;
  border-style: none;
}

.funcbutton:focus {
  outline: none;
  box-shadow: none;
}

#extraFuncPopUp {
  height: 100%;
  width: 100%;
  top: 100%;
  display: block;
  position: absolute;
  z-index: 1;
  visibility: inherit;
}

#custFuncGridPopup {
  position: absolute;
  left: 0;
  width: 100%;
  top: 40px;
  bottom: 10px;
  display: inline-flex;
  overflow-x: auto;
}

#custFuncGridPopup button {
  margin-left: 3.3333%;
  bottom: 5px;
  position: relative;
  background-color: var(--displayColor);
  color: var(--textColor);
  width: 45%;
  z-index: 2;
  flex-shrink: 0;
  border: none;
  border-radius: 25px;
  top: 2.5%;
  height: 95%
}

.custFuncNames {
  margin-bottom: -40px;
}

.removeFuncIcons {
  margin-right: -75%;
}

#customFuncButton {
  width: 30.33333333333333333%;
  margin-left: 2.25%;
}

.trigButton {
  height: 100%;
  width: 100%;
  font-size: 20px;
  color: var(--textColor);
  background-color: var(--functionsColor);
  text-align: center;
  border-style: none;
}

.clearModifiers {
  z-index: 1;
  top: 126px;
  background-color: transparent;
  border: none;
  position: absolute;
}

.addIcon {
  top: 5px;
  left: 5px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
}

.minusIcon {
  left: 45px;
  top: 5px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
}

#customFuncDisplayPopup {
  height: 33.3333%;
  width: 100%;
  top: 0;
  background-color: var(--numbersColor);
  border-radius: 15px;
  position: absolute;
  z-index: 1;
  overflow-x: auto;
  flex-wrap: nowrap;
  display: flex;
  flex-shrink: 0;
}

#funcModify {
  align-content: center;
  display: inline-block;
  left: 1.5px;
  padding-top: 10px;
}

#funcModify:hover .drop-cont {
  display: block;
}

.drop-cont {
  display: none;
  background-color: var(--numbersColor);
  min-width: 50px;
  z-index: 1;
  border-radius: 0px 0 15px 15px;
}

.drop-cont a {
  color: var(--textColor);
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: block;
}

#funcModify:hover #modBtn {
  border-radius: 15px 15px 0px 0px;
}

#modBtn {
  background-color: var(--numbersColor);
  color: var(--textColor);
  border-radius: 25px;
  width: 50px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  align-self: center;
  height: 35px;
  -webkit-tap-highlight-color: transparent;
}

.customFuncDisplayBackgroundPopup {
  height: 44.4444%;
  left: 0;
  top: 11.1111%;
  background-color: var(--functionsColor);
  position: relative;
  z-index: -1;
}

#extraFuncPopUpGrid {
  position: absolute;
  height: 66.6666%;
  width: 100%;
  top: 33.3333%;
  display: grid;
  grid-gap: 0px 0px;
  margin: 0px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  background-color: #00000000;
  padding: 0px;
}

#minusFunctionPopup {
  left: 48px;
}

#moreFunctionsButton {
  height: 100%;
  width: 100%;
  font-size: 15px;
  color: var(--textColor);
  background-color: var(--functionsColor);
  text-align: center;
  text-indent: -30px;
  border-style: none;
  position: relative;
  grid-area: moreFuncBut;
}

#customFuncDisplay {
  visibility: hidden;
  height: 100%;
  left: 0;
  overflow-y: auto;
  background-color: var(--functionsColor);
  position: relative;
  z-index: 1;
}

#popupConsole {
  visibility: visible;
  height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  font-size: 25px;
  top: 0;
  z-index: 1;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#customFuncDisplay::-webkit-scrollbar {
  width: 2vh;

}

#customFuncDisplay::-webkit-scrollbar-track {
  background: transparent;
  margin-bottom: 40px;
}

#customFuncDisplay::-webkit-scrollbar-thumb {
  width: 5;
  min-height: 30px;
  background: var(--translucent);
  border-radius: 10px;
}

#customFuncDisplay::-webkit-scrollbar-button:end:increment {
  height: 7px;
  display: block;
  background: transparent;
}

#customFuncDisplay::-webkit-scrollbar-button:start:increment {
  height: 7px;
  display: block;
  background: transparent;
}

#customFuncDisplay hidden {
  visibility: hidden;
}

#customFuncDisplayGrid {
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
  position: absolute;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 120px;
}

#customFuncDisplayGrid button {
  width: 95%;
  height: 90%;
  top: 5%;
  left: 2.5%;
  border-radius: 25px;
  border: none;
  background-color: var(--numbersColor);
}

#customFuncDisplayRecentText {
  right: 5px;
  top: 5px;
  left: 2.5%;
  width: 95%;
  text-align: left;
  color: transparent;
  color: var(--textColor);
  background-color: var(--numbersColor);
  text-align: right;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 10px;
  border-radius: 25px;
}

#settingsCogIcon {
  top: 0;
  right: 0;
  position: absolute;
}

.tranparentOverlayButtons {
  color: var(--textColor);
  background-color: transparent;
  font-size: 20px;
  border: none;
  z-index: 1;
  width: 25%;
  height: 30%;
  right: -37.5%;
  top: -100%;
  position: relative;
}

.arc {
  position: absolute;
  border: none;
  font-size: 15px;
  color: var(--textColor);
  background-color: transparent;
  z-index: 1;
  width: 40px;
  height: 40px;
  position: relative;
  flex-shrink: 0;
}

.arcText {
  color: var(--textColor);
  position: absolute;
  text-align: center;
  width: 33px;
  height: 14;
  top: 9.66665;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

#sinSlideDiv {
  display: flex;
}

#ac {
  font-size: 15px;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 1;
  right: 40px;
  flex-shrink: 0;
}

#backspace {
  flex-shrink: 0;
  grid-area: backspace;
}

#backspaceDiv {
  display: flex;
}

#arrowPosition{
  width: 25%;
  height: 16.6666%;
  position: absolute;
  top: 0;
  pointer-events:none
}

#arrowIcon {
  transform: rotate(270deg);
  animation: "0.25s linear 0s 1 normal forwards running toDown";
  visibility: inherit;
  top: 5px;
  right: 5px;
  font-size: 15px;
  text-align: center;
  border-style: none;
  background-color: #00000000;
  position: absolute;
  z-index: 2;
  pointer-events: all;
}

.backIcon {
  transform: rotate(180deg);
  background-color: transparent;
  height: 45px;
  z-index: 1;
}

#backButton {
  font-size: 15px;
  text-align: center;
  border-style: none;
  background-color: transparent;
  z-index: 2;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background: #00000080;
  border-radius: 10px;
}

::-webkit-scrollbar-button:end:increment {
  height: 7px;
  display: block;
  background: transparent;
}

::-webkit-scrollbar-button:start:increment {
  height: 7px;
  display: block;
  background: transparent;
}

.tabcontent {
  position: absolute;
  width: 100%;
  left: 0;
  top: 35px;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  background-color: var(--displayColor);
}

.tabCustomcontent {
  position: absolute;
  width: 100%;
  left: 0;
  top: 35px;
  bottom: 0;
  -webkit-animation: fadeEffect 0.05s;
  animation: fadeEffect 0.05s;
}

#customValue {
  position: absolute;
  z-index: -1;
  visibility: hidden;
}

#displayText {
  visibility: hidden;
}

#addFunctionEx {
  z-index: 1;
  left: unset;
  right: 60px;
  top: 8.5px;
}

#minusFunctionEx {
  z-index: 1;
  left: unset;
  right: 20px;
  top: 8.5px;
}

#confirmPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--translucent);
  z-index: 1;
  display: grid;
  justify-items: center;
  align-items: center;
  visibility: hidden;
}

#confirmDiv {
  width: 80%;
  max-width: 400px;
  height: 190px;
  border-radius: 25px;
  background-color: var(--functionsColor);
  position: absolute;
}

#confirmHeader {
  right: 10px;
  top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  background-color: var(--numbersColor);
  position: absolute;
}

#confirmMessage {
  height: 82px;
  width: calc(100% - 10px);
  top: 58px;
  left: 5px;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--displayColor);
  position: absolute;
}

#confirmButton {
  position: absolute;
  left: 5px;
  bottom: 5px;
}

#exitConfirmPage {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

#nameEntry {
  position: absolute;
  background-color: #00000075;
  width: 100%;
  height: 100%;
  z-index: 6;
  display: grid;
  justify-items: center;
  align-items: center;
  visibility: hidden;
}

#entryDiv {
  width: 80%;
  max-width: 400px;
  height: 30%;
  border-radius: 30px;
  background-color: var(--functionsColor);
  position: absolute;
}

#entryNameHeader {
  left: 10px;
  top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  background-color: var(--numbersColor);
  position: absolute;
}

#confirmNameEntry {
  position: absolute;
  right: 50px;
  top: 8.6px;
  position: absolute;
}

#exitNameEntry {
  position: absolute;
  right: 10px;
  top: 8.6px;
  position: absolute;
}

#nameEntryArea {
  outline: none;
  resize: none;
  border: none;
  position: absolute;
  background-color: var(--displayColor);
  padding: 10px;
  font-size: 30px;
  height: calc(100% - 67.2px);
  width: calc(100% - 20px);
  top: 57.2px;
  left: 10px;
  border-radius: 25px;
}

#mainPage {
  background-color: var(--functionsColor);
}

#custCreatorPage {
  background-color: var(--displayColor);
  bottom: 100%;
  position: absolute;
}

#settingsPage {
  bottom: 100%;
}

#moreFunctionsPage {
  bottom: 100%;
}

#nameCreator {
  background-color: var(--numbersColor);
  border: none;
  font-size: 50px;
  width: calc(100% - 20px);
  left: 10px;
  padding: 5px;
  border-radius: 15px;
  top: 50px;
  position: absolute;
}

#mainCreator {
  background-color: var(--functionsColor);
  top: 135px;
  bottom: 10px;
  width: calc(100% - 20px);
  left: 10px;
  position: absolute;
  border-radius: 20px;
}

#saveCreator {
  height: 40px;
  top: 10px;
  right: 10px;
  width: 60px;
  border: none;
  background-color: var(--numbersColor);
  position: absolute;
  border-radius: 50px;
}

.creatorPage {
  width: 100%;
  top: 60px;
  bottom: 0px;
  position: absolute;
}

.creatorDiv {
  width: calc(100% - 20px);
  left: 10px;
  height: calc(100% - 10px);
  background-color: var(--displayColor);
  padding: 10px;
  font-size: 35px;
  border-radius: 25px;
  position: absolute;
}

.numberedHeader {
  margin-left: 5px;
  font-size: 25px;
  width: fit-content;
  font-weight: 700;
}

#lineLabel {
  width: fit-content;
  overflow: visible;
}

#creatorEditor {
  display: grid;
  display: flex;
  overflow: auto;
}

#creatorEditor::-webkit-scrollbar {
  width: 10px;
}

#creatorEditor::-webkit-scrollbar-track {
  background: transparent;
}

#creatorEditor::-webkit-scrollbar-thumb {
  width: 5px;
  background: #00000080;
  border-radius: 10px;
}

#creatorEditor::-webkit-scrollbar-button:end:increment {
  height: 0px;
  background: transparent;
}

#creatorEditor::-webkit-scrollbar-button:start:increment {
  height: 0px;
  background: transparent;

}

#creatorEditor::-webkit-scrollbar-corner {
  background-color: transparent;
}

.codeEditor {
  font-size: 25px;
  background-color: transparent;
  border: none;
  padding-left: 5px;
}

#varsDiv {
  display: grid;
  position: absolute;
  z-index: 4;
  visibility: hidden;
}

.varItem {
  font-size: 20px;
  color: var(--textColor);
  background-color: var(--functionsColor);
  text-align: center;
  border-style: none;
}

#arrowVarIcon {
  transform: rotate(180deg);
}

#tabNum {
  position: absolute;
}

@keyframes buttonSlide {
  from {}

  to {}
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideFromSide {
  from {
    left: 100%;
  }

  to {
    left: 66.66666%;
  }
}

@keyframes toUp {
  0% {
    transform: rotate(-90deg)
  }

  100% {
    transform: rotate(90deg)
  }
}

@keyframes toDown {
  0% {
    transform: rotate(90deg)
  }

  100% {
    transform: rotate(-90deg)
  }
}

@keyframes toSlideUp {
  0% {
    top: 100%;
  }

  100% {
    top: 0%;
  }
}

@keyframes toSlideDown {
  0% {
    top: 0%;
  }

  100% {
    top: 100%;
  }
}

@keyframes modeSwitch {
  0% {
    left: 0px;
  }

  50% {
    left: 75px;
  }

  100% {
    left: 150px
  }
}

@keyframes slideToUpFromBottom {
  0% {
    top: 0%;
  }

  6.5217% {
    top: 80px;
  }

  93.478% {
    top: 80px;
  }

  100% {
    top: 0%;
  }
}

@keyframes sveForSwitch {
  0% {
    left: 75px;
  }

  100% {
    left: 0px
  }
}

@keyframes sveBacSwitch {
  0% {
    left: 75px;
  }

  100% {
    left: 150px
  }
}

@keyframes pageup {
  0% {
    bottom: 100%
  }

  100% {
    bottom: 0px;
  }
}

#primaryColorPicker {
  initial-value: var(--displayColor);
}



#settingsBody {
  background-color: var(--displayColor);
  min-height: 600px;
  min-width: 302px
}

#navColumn {
  width: 15%;
  height: calc(100% - 20px);
  margin-top: 10px;
  background-color: var(--functionsColor);
}

.navButtons {
  font-size: 18px;
  color: var(--textColor);
  background-color: var(--numbersColor);
  position: relative;
  text-align: left;
  border: none;
  left: 2%;
  height: 100px;
  width: 96%;
  margin-top: 10px;
  border-radius: 50px;
  min-width: 0;
  overflow-x: auto;
}

.settingsIcon {
  left: 0;
  top: 0;
  align-self: center;
  position: absolute;
}

.settingTabContent {
  visibility: hidden;
  left: 15%;
  top: 0;
  height: calc(100% - 20px);
  top: 10px;
  width: 85%;
  position: absolute;
  background-color: var(--functionsColor);
}

.settingBackButtons {
  font-size: 15px;
  text-align: center;
  border-style: none;
  background-color: transparent;
  z-index: 2;
  background-color: transparent;
  visibility: hidden;
}

#colorsTab {
  visibility: visible;
  overflow-y: auto;
}

.settingsHeaders {
  left: 35px;
  font-size: 50px;
  margin-top: -30px;
  color: var(--textColor);
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.topLine {
  top: 35px;
  width: 100%;
  position: absolute;
}

#settingsTitle {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: calc(100% - 20px);
  text-align: center;
}

.settingsDiv {
  background-color: var(--displayColor);
  border-radius: 25px;
  align-self: center;
  position: relative;
  top: 5px;
  margin-bottom: 15px;
  left: 2.5%;
  width: 95%;
}

.h2Settings {
  color: var(--textColor);
  text-align: center;
  width: fit-content;
  left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  top: 15px;
  background-color: var(--numbersColor);
  padding: 5px 10px;
  margin: 5px;
  border-radius: 25px;
}

.h5Settings {
  color: var(--textColor);
  text-align: left;
  text-overflow: ellipsis;
  position: inherit;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
  margin-right: 15px;
  margin-left: 5px;
}

.h5Colors {
  color: var(--textColor);
  text-align: left;
  text-overflow: ellipsis;
  position: inherit;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
  margin-right: 15px;
  margin-left: 5px;
}

#showcaseTextColor {
  color: var(--textColor);
}

#ColorsDiv {
  background-color: var(--functionsColor);
  height: 305px;
  border-radius: 25px;
  align-self: center;
  top: 5px;
  left: 2.5%;
  width: 95%;
}

.colorPicker {
  align-self: center;
  height: 25px;
  position: relative;
  border-style: solid;
  border-color: var(--textColor);
  border-radius: 15px;
  outline: none;
  right: 15px;
  background-color: transparent;
  position: absolute;
}

.colorPicker::-webkit-color-swatch-wrapper {
  padding: 0;
}

.colorPicker::-webkit-color-swatch {
  border: none;
  border-radius: 15px;
}

.colorsLabels {
  display: flex;
  left: 15px;
  position: relative;
  align-self: center;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--textColor);
}

.calculationsLabels {
  display: flex;
  position: relative;
  align-self: center;
  align-content: center;
  width: calc(100% - 15px);
  left: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--textColor);
}

#dropbtn {
  background-color: var(--numbersColor);
  color: var(--textColor);
  border-radius: 15px;
  padding: 8px 8px;
  width: 65px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  align-self: center;
  height: 35px;
  -webkit-tap-highlight-color: transparent;
}

#textdropdown {
  top: -8px;
  align-content: center;
  position: absolute;
  display: inline-block;
  right: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--numbersColor);
  min-width: 80px;
  z-index: 1;
  border-radius: 0px 15px 15px 15px;
}

.dropdown-content a {
  color: var(--textColor);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#textdropdown:hover .dropdown-content {
  display: block;
}

#textdropdown:hover #dropbtn {
  border-radius: 15px 15px 0px 0px;
}

#colorPickerGrid {
  top: 50px;
  display: grid;
  position: absolute;
  height: 250px;
  right: 10px;
  left: 190px;
  grid-template-columns: 100%;
  grid-template-rows: 62.5px 62.5px 62.5px 62.5px;
  justify-content: center;
  align-content: end;
}

.textDisplay {
  color: var(--textColor);
  text-align: center;
  position: absolute;
  left: 5;
  font-family: Arial, Helvetica, sans-serif;
}

#displayPreview {
  border-width: 0.0000000005px;
}

#displayMain {
  border-width: 0.0000000005px;
  left: 2.5%;
  top: 33px;
  width: 95%;
  max-width: 300px;
  border-radius: 20px;
  visibility: hidden;
}

#displayFunc {
  border-width: 0.0000000005px;
  left: 2.5%;
  top: 33px;
  width: 95%;
  max-width: 300px;
  border-radius: 20px;
  visibility: hidden;
}

#nameDisplay {
  margin-top: 5px;
  font-size: 30px;
  padding-right: 5px;
  font-weight: lighter;
  text-align: end;
}

#bodyFunc {
  top: 16%;
  height: 34%;
  width: calc(100% - 10px);
  left: 5px;
}

#equtDisplayFunc {
  text-align: start;
  width: 95%;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  margin-left: 2.5%;
  font-size: 15px;
  border-radius: 7px;
  background-color: var(--numbersColor);
}

#bodyCalc {
  top: calc(50% + 10px);
  height: calc(50% - 15px);
  width: calc(100% - 10px);
  left: 5px;
}

#resultDisplay {
  text-align: start;
  width: fit-content;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2.5%;
  font-size: 15px;
  border-radius: 7px;
  background-color: var(--numbersColor);
}

.displayBase {
  background-color: var(--displayColor);
  height: 230px;
  width: 180px;
  position: absolute;
  border-color: var(--textColor);
  border-width: 0.5px;
  border: solid;
  border-radius: 10px;
  top: 60px;
  left: 15px;
  overflow: hidden;
}

.numsBase {
  background-color: var(--numbersColor);
  height: 44.4444%;
  width: 75%;
  position: absolute;
  border-radius: 10px;
  top: 33.3333%;
  z-index: 1;
}

.functionBase {
  background-color: var(--functionsColor);
  height: 76.6666%;
  width: 100%;
  border-radius: 10px;
  top: 33.3333%;
  position: absolute;
}

#accentColorDiv {
  height: 200px;
  border-radius: 25px;
  align-self: center;
  top: 5px;
  left: 2.5%;
  width: 95%;
}

#accentColorGrid {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50% 50%;
  width: 100%;
  height: calc(100% - 64px);
  justify-items: center;
}

.accButton {
  height: 55px;
  width: 55px;
  padding: none;
  border-radius: 50%;
  border: none;
}

.accButton.active {
  border: solid;
  border-color: var(--textColor);
}

#themeCont {
  height: 210px;
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-top: 10px;
  padding-bottom: 15px;
  grid-template-columns: 180px;
  grid-template-rows: 100%;
  grid-auto-flow: column;
  display: grid;
  overflow-x: scroll;
}

.themeElem.active {
  background-color: var(--numbersColor);
}

.themeElem {
  height: 100%;
  width: 170px;
  border-radius: 40px;
  border: none;
  color: var(--backgroundColor);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
  padding: 10px;
}

.firstHalf {
  height: 150px;
  width: 75px;
  border-radius: 150px 0 0 150px;
}

.secondHalf {

  height: 150px;
  width: 75px;
  margin-top: -150px;
  margin-left: 74px;
  border-radius: 0 150px 150px 0;
}

#buyCustTheme {
  height: 30px;
  border: none;
  background-color: var(--numbersColor);
  margin-top: -15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
}

#custLabel {
  margin-top: -80px;
  margin-bottom: 21px;
}

#PreferencesGrid {
  top: 50px;
  display: grid;
  width: 100%;
  left: 0;
  grid-template-columns: 100%;
  grid-auto-rows: 40px;
  justify-content: center;
  align-content: end;
  padding-bottom: 20px;
}

.settingsTextInput {
  background-color: var(--numbersColor);
  border: none;
  border-width: 1.5px;
  height: 35px;
  width: 60px;
  text-align: center;
  color: var(--textColor);
  text-indent: 5px;
  font-size: 15px;
  border-radius: 8px;
  margin-right: 10px;
  right: 0;
  position: absolute;
}

.settingsButton {
  color: var(--textColor);
  background-color: var(--functionsColor);
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  height: 35px;
  right: 0px;
  margin-right: 10px;
  border-radius: 20px;
  border: none;
  position: absolute;
}

.settingsButton.active {
  background-color: var(--numbersColor);
}

#AboutUsDiv {
  height: auto;
  border-radius: 25px;
  position: relative;
  margin-top: 15px;
  left: 2.5%;
  width: 95%;
  overflow: hidden;
  padding: -30px;
}

#aboutTag {
  padding-top: 10px;
  padding-left: 1%;
  padding-bottom: 20px;
  width: 98%;
  position: relative;
}

#VersionDiv {
  border-radius: 25px;
  position: relative;
  height: auto;
  margin-top: 20px;
  left: 2.5%;
  width: 95%;
}

#versionID {
  top: 60px;
  left: 15;
}

#versionImage {
  right: 15px;
  position: absolute;
  top: 10%;
}

#copyright {
  color: var(--textColor);
  bottom: 0px;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}

#buyScreen {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--semi-transparent);
}

#buyExit {
  position: absolute;
  right: 0;
  top: 0;
}

#buyTitle {
  position: absolute;
  top: 50px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  margin-left: 10px;
  text-align: start;
  left: 0px;
  background-color: var(--displayColor);
}

#imagesContainer {
  width: calc(100% - 20px);
  height: 250px;
  margin-top: 170px;
  background-color: var(--displayColor);
  border-radius: 25px;
  margin-left: 10px;
}

#itemDescript {
  width: calc(100% - 20px);
  height: auto;
  margin-top: 10px;
  background-color: var(--displayColor);
  border-radius: 25px;
  margin-left: 10px;
  padding: 10px;
}

#buyButton {
  position: absolute;
  bottom: 10px;
  width: 90px;
  height: 50px;
  font-size: 25px;
  border-radius: 25px;
  border: none;
  left: calc(50% - 45px);
  background-color: var(--numbersColor);
}

@keyframes toSlideLeft {
  0% {
    left: 100%;
  }

  100% {
    left: 0%;
  }
}

@keyframes toSlideRight {
  0% {
    left: 0%;
  }

  100% {
    left: 100%;
  }
}

@keyframes toSlideOut {
  0% {
    left: 0%;
  }

  100% {
    left: -100%;
  }
}

@keyframes toSlideIn {
  0% {
    left: -100%;
  }

  100% {
    left: 0%;
  }
}

#moreFunctionsBody {
  background-color: var(--functionsColor);
  overflow-x: none;
}

::placeholder {
  color: var(--textColor);
  opacity: 0.2;
}

#funcContainer{
  width: 100%;
  height: 100%;
  position: absolute;
}

.textInputTop {
  top: 0;
  left: 0;
  width: 100%;
  resize: none;
  border-style: none;
  padding: 10px;
  padding-top: 25px;
  color: var(--textColor);
  align-content: end;
  font-size: 75px;
  text-align: end;
  background-color: var(--displayColor);
  z-index: 0;
  position: absolute;
}

#funcGrid {
  position: absolute;
  border-radius: 25px 25px 0 0;
  background-color: var(--functionsColor);
  
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 130px;
  flex-wrap: wrap;
  padding-top: 70px;
  top: 121px;
  bottom: 0px;
  left: 0;
  right: 0;
  overflow-y: scroll;

}

#funcGrid button {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 25px;
  border: none;
  background-color: var(--numbersColor);
}

#backIconFunc {
  z-index: 1;
  visibility: inherit;
  position: absolute;
  transform: rotate(180deg);
}

#newFunctionsPage {
  left: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

#nameArea {
  text-align: start;
}

#equationArea {
  font-size: 100vw;
  position: absolute;
  border-radius: 25px 25px 0 0;
  border: none;
  background-color: var(--numbersColor);
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  top: 121px;
  bottom: 0px;
  left: 0;
  right: 0;
  width: 100%;
  resize: none;
  padding: 15px;
}

#newFunction {
  background-color: var(--displayColor);
  border: none;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  font-size: 50px;
  z-index: 2;
  right: 10px;
  bottom: 10px;
  position: absolute;
  align-self: center;
}

#customFuncTab {
  background-color: var(--displayColor);
}

#nameFunc {
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  min-height: 75px;
  resize: none;
  border-style: none;
  padding: 10px;
  padding-top: 25px;
  color: var(--textColor);
  align-content: end;
  font-size: 75px;
  text-align: end;
  background-color: var(--displayColor);
  z-index: 0;
  overflow-x: hidden;
  position: absolute;
}

#varEquationContainer {
  position: absolute;
  background-color: var(--functionsColor);
  display: block;
  flex-wrap: wrap;
  border-radius: 25px;
  top: 15%;
  height: 25%;
  width: calc(100% - 20px);
  left: 10px;
  overflow-y: scroll;
}

#varGrid {
  width: calc(101% - 10px);
  margin-left: 5px;
  height: auto;
  position: relative;
  bottom: 0px;
  display: grid;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-auto-rows: 35px;
  overflow-y: auto;
}

.variableContainer {
  background-color: var(--displayColor);
  height: 25px;
  width: 95%;
  margin-left: 2.5%;
  border-radius: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  flex-wrap: nowrap;
}

#varLabel {
  display: inline-flex;
  width: 100%;
}

#variableName {
  border-radius: 25px;
  height: 25px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  flex-shrink: 0;
  text-align: center;
  background-color: var(--numbersColor);

}

#variableEntry {
  border: none;
  background-color: transparent;
  left: 25px;
  width: 100%;
  bottom: 0;
  margin-right: 2.5px;
  height: 25px;
  text-align: center;
}

#resultPane {
  background-color: var(--functionsColor);
  top: calc(40% + 10px);
  bottom: 10px;
  width: calc(100% - 20px);
  left: 10px;
  position: absolute;
  border-radius: 25px;
}

.funcModes{
  overflow: scroll;
}

#editDiv {
  top: 0px;
  width: 100%;
  bottom: 10px;
  position: absolute;
}

#custFuncEditHeader {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  border-radius: 25px;
  background-color: var(--numbersColor);
  width: fit-content;
  left: calc(50% - 62.22px);
  top: 10px;
  position: absolute;
  font-size: 50px;
}

#editExit {
  position: absolute;
  left: 10px;
  top: 10px;
}

#textEditorEdit {
  position: absolute;
  top: 91px;
  background: var(--functionsColor);
  bottom: 5px;
  left: 10px;
  width: calc(100% - 20px);
  border-radius: 25px;
  padding-top: 10px;
  overflow: hidden;
}

#confirmEdit {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
}

#EquationFunc {
  width: calc(101% - 20px);
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: auto;
  padding: 5px;
  padding-bottom: 5px;
  color: var(--textColor);
  background-color: var(--numbersColor);
  z-index: 0;
  overflow-y: auto;
  font-size: 4.5vh;
  position: relative;
}

#editIcon {
  margin-top: 16px;
  position: absolute;
  top: 0;
  right: 10px;
}

#modeSwitcher {
  top: 10px;
  left: 10px;
  height: 40px;
  display: inline-block;
  position: absolute;
  width: 300px;
}

#graphMode {
  left: 75px;
}

#tableMode {
  left: 150px;
}

.modeButton {
  height: 100%;
  width: 70px;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  z-index: 2;
  position: absolute;
}

.selectorSlider {
  top: 0px;
  height: 40px;
  width: 70px;
  z-index: 1;
  position: absolute;
  background-color: var(--displayColor);
  border-radius: 25px;
}

#FunctionDiv {
  top: 50px;
  left: 2.5%;
  right: 2.5%;
  bottom: 2.5%;
  position: absolute;
}

#equalsHeader {
  margin-top: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  background-color: var(--numbersColor);
  width: fit-content;
  max-width: 100%;
  font-size: 45px;
  overflow: auto;
}

#GraphDiv {
  top: 50px;
  left: 2.5%;
  right: 2.5%;
  bottom: 2.5%;
  overflow-y: auto;
  position: absolute;
  visibility: hidden;
}

#graphContainer {
  height: calc(100% - 110px);
  padding: 5px;
  margin-top: 10px;
  width: 100%;
  background-color: var(--displayColor);
  border-radius: 20px;
}

#funcChart {
  height: 100%;
  width: 100%;
}

#tableContainer {
  height: calc(100% - 110px);
  margin-top: 10px;
  width: 100%;
  background-color: var(--displayColor);
  border-radius: 20px;
}

#settingsSelector {
  right: 2.5%;
  position: absolute;
  top: calc(100% - 100px);
}

#funcTable {
  position: relative;
  top: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  margin-left: 10px;
  border-collapse: collapse;
  border-radius: 20px;
}

#funcTable,
td,
th {
  border: 1px solid var(--textColor);
  border-radius: 20px;
  text-indent: 10px;
}

.selectorDiv {
  background-color: var(--numbersColor);
  padding: 5px;
  border-radius: 0 25px 25px 25px;
  ;
}

.funcDetails[open] summary {
  border-radius: 20px 20px 0 0;
}

.secondaryFuncHeaders {
  color: var(--textColor);
  text-align: left;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  background-color: var(--numbersColor);
  padding: 5px 10px;
  border-radius: 25px 25px 25px 25px;
  margin-top: 10px;
  width: fit-content;
}

.funcHeaders {
  margin: 5px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 25px;
  width: fit-content;
  background-color: var(--functionsColor);
}

.funcInputs {
  margin-left: 5px;
  height: 25px;
  width: 60px;
  padding-left: 14px;
  border-radius: 25px;
  border: none;
  background-color: var(--displayColor);
  text-align: center;
}

.stepInputs {
  margin-left: 5px;
  height: 25px;
  width: 50px;
  padding-left: 12px;
  border-radius: 25px;
  border: none;
  background-color: var(--displayColor);
  text-align: center;
}

#tableDiv {
  top: 50px;
  left: 2.5%;
  right: 2.5%;
  bottom: 2.5%;
  position: absolute;
  visibility: hidden;
  overflow-y: auto;
}

@media only screen and (min-aspect-ratio: 3/4) {
  #varEquationContainer {
    height: calc(100% - 95px);
    top: 85px;
    width: calc(50% - 15px);
    left: 10px;
  }

  #resultPane {
    height: calc(100% - 95px);
    top: 85px;
    width: calc(50% - 15px);
    left: calc(50% + 5px);
  }

  #vargrid {
    position: relative;
  }
}

#helpBody {
  background-color: var(--displayColor);
}

.helpDivs {
  background-color: var(--numbersColor);
  position: relative;
  border-radius: 25px;
  width: 95%;
  left: 2.5%;
  margin-bottom: 10px;
}

.secondaryHeaders {
  color: var(--textColor);
  text-align: left;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  background-color: var(--functionsColor);
  padding: 5px 10px;
  border-radius: 25px 25px 25px 25px;
  width: 100%;
}

.helpParagraphs {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--textColor);
  font-family: Arial, Helvetica, sans-serif;
  width: 95%;
  margin-left: 2.5%;
}

#MemFuncDiv {
  margin-top: 20px;
}

#MainCalculatorHelp {
  overflow: auto;
}

#v1Header {
  width: fit-content;
  margin-left: 2.5%;
}

#FunctionsDiv {
  margin-top: 20px;
}

#ColorsHelpDiv {
  margin-top: 20px;
}

#newTabName {
  width: calc(100% - 31.5px);
  text-align: start;
}

#tabRemove {
  right: 0;
}
#keypad {
  width: calc(100% - 20px);
  left: 10px;
  bottom: 10px;
  border-radius: 25px;
  z-index: 2;
  top: calc(35% + 45px);
  position: absolute;
  overflow: hidden;
}
/*@media only screen and (max-aspect-ratio: 3/4) {
  
}*/

/*@media only screen and (min-aspect-ratio: 3/4) and (max-aspect-ratio: 2/1) {
  
}*/

/*@media only screen and (max-height: 450px) {
  
}*/

@media only screen and (min-aspect-ratio: 5/3) and (min-height: 451px) {
 
}
@media only screen and (min-aspect-ratio: 3/4) and (max-aspect-ratio: 4/3) {
  
}